.App{
    margin : 20px;
}
.span-app{
    padding: 10px;
    background-color: aqua;
    width: 450px;
}
.span-app h2{
    text-align: center;
}
textarea{
    width: 400px;
    height: 150px;
    margin-left:23px;
}
.span-app p{
    margin-left: 22px;
}